<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <title>{{ page.title }}</title>
    <meta name="description" content="{{ page.description }}" />
    <link rel="stylesheet" href="/assets/css/theme.css" type="text/css" />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css?family=Pacifico&#038;ver=5.0.2"
      type="text/css"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css?family=Droid+Sans%3A400&#038;ver=5.0.2"
      type="text/css"
    />
  </head>

  <body
    class="home page-template-default page page-id-316 mp6 customizer-styles-applied one-column highlander-enabled highlander-light"
  >
    <div id="page" class="hfeed">
      <header id="branding" role="banner" class="clearfix">
        <a
          class="header-link"
          href="/"
          title="Bishop Engineering"
          rel="home"
        ></a>
        <h1 id="site-title">
          <a href="/" title="Bishop Engineering" rel="home"
            >Bishop Engineering</a
          >
        </h1>
      </header>
      <!-- #branding -->

      <nav id="access" role="navigation" class="clear">
        <h1 class="assistive-text section-heading">Main menu</h1>
        <div class="skip-link screen-reader-text">
          <a href="#content" title="Skip to content">Skip to content</a>
        </div>
        <div class="menu">
          <ul>
            <li class="current_page_item"><a href="/">Home</a></li>
            <li class="page_item page-item-12 page_item_has_children">
              <a href="/services/">Services</a>
              <ul class="children">
                <li class="page_item page-item-30">
                  <a href="/services/environmental/">Environmental</a>
                </li>
                <li class="page_item page-item-28">
                  <a href="/services/land-development/">Land Development</a>
                </li>
                <li class="page_item page-item-26">
                  <a href="/services/municipal/">Municipal</a>
                </li>
                <li class="page_item page-item-33">
                  <a href="/services/surveying-maps/">Surveying &amp; Maps</a>
                </li>
              </ul>
            </li>
            <li class="page_item page-item-35">
              <a href="/projects/">Projects</a>
            </li>
            <li class="page_item page-item-19">
              <a href="/history/">History</a>
            </li>
            <li class="page_item page-item-23">
              <a href="/community/">Community</a>
            </li>
            <li class="page_item page-item-17">
              <a href="/Careers/">Careers</a>
            </li>
            <li class="page_item page-item-15">
              <a href="/contact/">Contact</a>
            </li>
          </ul>
        </div>
      </nav>
      <!-- #access -->

      <div id="main">
        <div id="content" role="main">
          <article
            id="post-316"
            class="clear post-316 page type-page status-publish hentry"
          >
            <header class="entry-header">
              <h2 class="entry-title">{{ page.title }}</h2>
            </header>
            <!-- .entry-header -->

            <div class="entry-content">{{ content }}</div>
            <!-- .entry-content -->

            <footer class="entry-meta"></footer>
            <!-- .entry-meta -->
          </article>
          <!-- #post-316 -->
        </div>
        <!-- #content -->

        <footer id="colophon" role="contentinfo">
          <div id="site-info"><p>Copyright 2018. Bishop Engineering.</p></div>
          <!-- #site-info -->
        </footer>
        <!-- #colophon -->
      </div>
      <!-- #main -->
    </div>
    <!-- #page -->
  </body>
</html>
